venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset 
data/Fruit-Images-Dataset-master/*
data/train/*
data/test/*
data/predict/*

# Model files (sinh ra sau khi train)
model/*.h5
model/*.pt

.ipynb_checkpoints/

.DS_Store
Thumbs.db

# Environment configs
.env
*.log
